@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
}

.content {
    height: calc(100vh - 56px);
}

.inputs-register {
    @apply py-2 px-4 w-80 bg-white/70 text-white rounded
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: white 5000s ease-in-out 0s;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;/*your box-shadow*/
    -webkit-text-fill-color: #333;
}