@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
}

.content {
    height: calc(100vh - 56px);
}

.inputs-register {
    @apply py-2 px-4 w-80 bg-white/70 text-white rounded
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
    -webkit-box-shadow:0 0 0 50px transparent inset; /* Change the color to your own background color */
    -webkit-text-fill-color: white;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}
